<div class="tui-container_fullwidth main-container">
    <div class="tui-row tui-row_align_center w-100">
      <div class="tui-col_md-6" tuiIsland>
        <div class="tui-island__content">
          <div class="tui-col_12">
            <h5 class=" tui-island__title tui-text_h5">Forgot Password</h5>
            <oak-forgot-pasword-form  (submitForm)="onForgotPasswordFormSubmit($event)"></oak-forgot-pasword-form>
          </div>
        </div>
        <!-- <a [routerLink]="['/sign-in']">Visit sign in</a> -->
      </div>
    </div>
  
  </div>
  