.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .tui-row {
        justify-content: center;
    }
}

:host{
    display: block;
}
